/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  font-family: $raj-font-family;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-family: $raj-font-family;
    font-size: 20px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      cursor: pointer;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site banner
 */
.site-banner {
  border-bottom: 1px solid $grey-color-light;
  width: 100%;
  height: 300px;
  position: relative;
  transition: all 5s ease;
  z-index: -1;
}

.banner-image {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 10s ease;
  -moz-transition: all 10s ease;
  -o-transition: all 10s ease;
  transition: all 10s ease;
}

@-webkit-keyframes switch {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@-moz-keyframes switch {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@-o-keyframes switch {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes switch {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.image1 {
  background-image: url('/assets/images/banner1.jpg');
}

.image2 {
  background-image: url('/assets/images/banner2.jpg');
  -webkit-animation: switch 10s infinite ease-in-out;
  -moz-animation: switch 10s infinite ease-in-out;
  -o-animation: switch 10s infinite ease-in-out;
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

a:hover.contact-link {
  text-decoration: none;
}

a:hover.contact-link span.username, a:hover.contact-link span.email {
  text-decoration: underline;
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}



/**
 * Articles page
 */
#articles {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 2em;
}

#articles li {
  list-style-type: none;
  border-left: 5px solid $grey-color-dark;
  padding-left: 15px;
  margin-bottom: 5px;
}

.tag-title {
  font-family: $raj-font-family;
  font-weight: 600;
  font-size: 18px;
  background-color: $grey-color-light;
  padding: 5px 12px;
  border-radius: 3px;
}



/**
 * Contribution page
 */
input[type="text"], input[type="email"] {
  font-family: $base-font-family;
  font-size: 14.5px;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  height: 29px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  margin-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

#input-table .input-col1 {
  width: 25%;
}

#input-table .input-col2 {
  width: 75%;
}

.input-label {
  padding-bottom: 4px;
}

input[type="submit"] {
  margin-top: 6px;
  border: 2px solid $text-color;
  padding: 9px 15px;
  font-weight: 600;
  font-size: 14.5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 0 $text-color;
  -webkit-transition: box-shadow ease 0.75s, color ease 0.75s;
  -moz-transition: box-shadow ease 0.75s, color ease 0.75s;
  transition: box-shadow ease 0.75s, color ease 0.75s;
  background-color: #ffffff;
  font-family: $raj-font-family;
  color: $text-color;
}

input[type="submit"]:hover {
  box-shadow: inset 75px 0 0 0 $text-color;
  color: #ffffff;
}

input[type="submit"]:focus {
  outline: none;
}
